<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="azureIISBlobFileWatchGroup">
      <section name="watch" type="AzureIISBlobToLocalLogs.ConfigSection.AzureBlobFileWatchSection, AzureIISBlobToLocalLogs" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings file="C:\personalProjects\AzureIISBlobToLocalLogsAppSettings.config">
  </appSettings>

  <azureIISBlobFileWatchGroup>
    <watch configSource="AzureIISBlobWatchDefault.config"/>
  </azureIISBlobFileWatchGroup>
</configuration>
