<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="azureIISBlobFileWatchGroup">
      <section name="watch" type="AzureIISBlobToLocalLogs.ConfigSection.AzureBlobFileWatchSection, AzureIISBlobToLocalLogs" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings file="G:\GitHub\PersonalProject\AzureIISBlobToLocalLogsAppSettings.config">
  </appSettings>

  <azureIISBlobFileWatchGroup>
    <!--initFrom = Start from if no logs are found : Format = yyyy/mm/dd HH-->
    <watch configSource="AzureIISBlobToLocalLogsWatch.config"/>
  </azureIISBlobFileWatchGroup>
</configuration>
